:root
{
    /*Colors*/
    --overall-background : hsl(27, 39%, 95%);
    --course-background : hsl(0, 0%, 100%);
    --background-button-black : hsl(0, 0%, 0%);
    --background-button-white : hsl(0, 0%, 100%);
    --background-button-white-hover : hsl(0, 0%, 95%);
    --background-icon-black : hsl(0, 0%, 0%);
    --buttons-shadow : hsl(243, 86%, 86%);
    --buttons-hover : hsl(243, 86%, 86%);
    --button-border : hsl(0, 0%, 0%);
    --course-border : hsl(0, 0%, 0%);
    --category-border : hsl(0, 0%, 0%);
    --hr-border : hsl(0, 0%, 87%);
    --hr-border-thiner : hsl(0, 0%, 90%);
    --dev-category : hsl(38, 100%, 90%);
    --languages-category : hsl(85, 40%, 91%);
    --design-category : hsl(243, 100%, 96%);
    --health-category : hsl(354, 72%, 94%);
    --testimonials : hsl(50, 96%, 71%);
    --footer : hsl(27, 22%, 92%);
    --background-beta : hsl(0, 0%, 100%);
    --text-white : hsl(0, 0%, 100%);
    --text-black : hsl(0, 0%, 0%);
    --text-grey : hsl(0, 0%, 40%);
    --icon-color : hsl(27, 39%, 95%);
    --star : hsl(50, 96%, 71%);

    /*Fonts*/
    --logo-font : "DM Sans";
    --general-font : "DM Sans";

    /*Font weight*/
    --bold : 400;
    --bolder : 500;
    --ultra-bold : 800;
}

a:link, a:visited
{
    cursor: pointer;
    color: var(--text);
    text-decoration-line: none;
}

.container-header
{
    z-index: 1;
    padding: 10px;
    border-bottom: solid 1px var(--hr-border-thiner);
}

.container-header-1
{
    width: 75%;
    margin: 0 auto;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    border-bottom: solid 1px var(--hr-border);
    align-items: center;
    justify-content: space-between;
}

.container-header-1 .container-logo, .container-header-1 .container-sign-up
{
    display: flex;
    align-items: center;
}

.container-header-1 .container-logo
{
    justify-content: flex-start;
}

.container-logo .logo
{
    font-family: var(--logo-font);
    font-weight: var(--ultra-bold);
    font-size: 38px;
}

.container-sign-in-up
{
    display: flex;
    justify-content: space-between;
}

.container-sign-in-up .container-user, .container-sign-in-up .container-sign-in, .container-sign-in-up .container-sign-up, .container-sign-in-up .container-sign-out
{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.container-sign-in-up .container-user
{
    justify-content: flex-start;
    padding: 10px 0;
    margin-right: 10px;
    font-family: var(--general-font);
    font-size: 16px;
    font-weight: var(--bold);
    text-decoration: underline;
}

.container-sign-in-up .container-sign-in
{
    justify-content: flex-start;
}

.container-sign-in-up .container-sign-up
{
    justify-content: flex-end;
}

.container-sign-in-up .container-sign-out
{
    justify-content: flex-end;
}

.container-sign-in .sign-in
{
    width: 130px;
    padding: 10px 0;
    font-family: var(--general-font);
    font-size: 14px;
    font-weight: var(--bolder);
    color: var(--text-white);
    background-color: var(--background-button-black);
    border: solid 1px var(--button-border);
    box-shadow: var(--overall-background) -4px 4px 0 0, var(--button-border) -4px 4px 1px;
    text-align: center;
    justify-content: flex-start;
}

.container-sign-in .sign-in:hover
{
    color: var(--text-black);
    background-color: var(--buttons-hover);
}

.container-sign-up .sign-up
{
    width: 130px;
    padding: 10px 0;
    font-family: var(--general-font);
    font-size: 14px;
    font-weight: var(--bolder);
    color: var(--text-white);
    background-color: var(--background-button-black);
    border: solid 1px var(--button-border);
    box-shadow: var(--overall-background) -4px 4px 0 0, var(--button-border) -4px 4px 1px;
    text-align: center;
    justify-content: flex-end;
}

.container-sign-up .sign-up:hover
{
    color: var(--text-black);
    background-color: var(--buttons-hover);
}

.container-sign-out .sign-out
{
    width: 130px;
    padding: 10px 0;
    font-family: var(--general-font);
    font-size: 14px;
    font-weight: var(--bolder);
    color: var(--text-white);
    background-color: var(--background-button-black);
    border: solid 1px var(--button-border);
    box-shadow: var(--overall-background) -4px 4px 0 0, var(--button-border) -4px 4px 1px;
    text-align: center;
    justify-content: flex-end;
}

.container-sign-out .sign-out:hover
{
    color: var(--text-black);
    background-color: var(--buttons-hover);
}

.container-header-2
{
    width: 75%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
}

.container-header-2 .container-menu
{
    display: flex;
    align-items: center;
}

.container-header-2 .container-menu
{
    position: relative;
    display: inline-block;
}

.container-menu .dropbtn
{
    border: none;
    background: none;
    cursor: pointer;
    font-family: var(--general-font);
    font-size: var(--bolder);
    font-size: 14px;
    padding-left: 8px;
    padding-right: 12px;
    border: none;
    border-right: solid 1px var(--hr-border);
}

.dropbtn i
{
    font-size: 16px;
}

.dropdown-content
{
    z-index: 1;
    border: solid 1px var(--button-border);
    position: absolute;
    margin-top: 10px;
    display: none;
    background-color: var(--background-button-white);
}

.container-menu .dropdown-content a
{
    display: block;
    cursor: pointer;
    margin: 5px;
    padding: 10px;
    font-family: var(--general-font);
    font-size: 16px;
    background-color: var(--background-button-white);
}


.container-menu .dropdown-content a:hover
{
    background-color: var(--background-button-white-hover);
}

.show
{
    display: block;
}

.container-contact-us .contact-us
{
    font-family: var(--general-font);
    font-size: var(--bolder);
    font-size: 14px;
    color: var(--text-grey);
    padding-left: 8px;
    padding-right: 8px;
}